<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <link rel="stylesheet" href="/css/site.css">

    <title>SUS</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li>
                    <a href="/Users/Login">Login</a>
                </li>
                <li>
                    <a href="/Users/Register">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <small>
            CopyRight &copy; SUS. All rights reserved.
        </small>
    </footer>
</body>
</html>
